@use './base.scss';

/* 基础样式 */
body {
  min-height: 100vh;
  margin: 0;
  /* 字体和element-plus保持一致 */
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
    '微软雅黑', Arial, sans-serif;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  height: 100vh;
  font-weight: normal;
  padding: 12px;
  box-sizing: border-box;
}

.nodata {
  font-size: 14px;
  color: var(--vs-text-color-secondary);
  padding: 6px;
}
